$font-lato:   "Lato", "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Geneva, sans-serif;
$font-marker: "Permanent Marker", "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Geneva, sans-serif;

$font-body: $font-lato;

$background-color: #eebe85;
$background-color: #b05963;
$text-color: #222;
$logo-color: #b28959;
// $logo-color: #555555;
