$font-lato:   "Lato", "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Geneva, sans-serif;
$font-marker: "Permanent Marker", "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Geneva, sans-serif;

$font-body: $font-lato;
